
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 40px;
    background-color: yellow;
    border-radius: 8px;
    
}

h1 {
    font-size: 36px;
    color: #333;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 40px;
}

.submit-review {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.reviews {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.review p {
    margin-bottom: 8px;
}

.navlinks {
    flex: 1; 
    text-align: center;
 }
 
 .navlinks ul {
    margin: 0;
    padding: 0;
 }
 
 .navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }
 
 .navlinks ul li a {
    color:black;
    text-decoration: none;
    font-size: 23px;
 }
 
 .navlinks ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: green;
    display: block;
    margin: auto;
    transition: 0.5s;
 }
 
 .navlinks ul li:hover::after {
    width: 100%;
 }
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .submit-review, .reviews {
        padding: 15px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }
}
